# Diretórios e arquivos a serem ignorados

# Diretórios de distribuição
dist/

# Arquivo de configuração
.env

# Sessões e tokens
*_sessions
*tokens

# Arquivos específicos
.wwebjs*

# Logs
*.log

# QR Codes
*qr.png

# Diretórios e arquivos de dependências
node_modules/

# Arquivo de bloqueio do Yarn
yarn.lock
